name: Password Check
# bypassCode='letTheManCook'
on:
  workflow_dispatch:
    inputs:
      bypassCode:
        description: "(Optional) Enter code to bypass branch-ancestry checks."
        required: false
        type: string
      check:
        description: "dummy check"
        required: false
        type: string

jobs:
  passwordCheck: 
    runs-on: ubuntu-latest
    
    steps:
    - name: Check password
      run: |
        if [ -z "${{ inputs.bypassCode }}"]; then
          echo "Password not provided"
        elif [ "${{ inputs.bypassCode }}" == "${{ secrets.bypassCode }}"]; then
          echo "Password matches."
          exit 0
        else
          echo "Password does not match."
          exit 1
        fi
        if [ "${{ inputs.check }}" == "yes"]; then
          exit 0
        else
          exit 1
        fi

  doSomething:
    runs-on: ubuntu-latest
    needs: passwordCheck

    steps:
    - name: Hello world
      run: |
        echo "Hello there"


      