name: Password Check
# bypassCode='letTheManCook'
on:
  workflow_dispatch:
    inputs:
      bypassCode:
        description: "(Optional) Enter code to bypass branch-ancestry checks."
        required: false
        type: string

jobs:
  passwordCheck: 
    runs-on: ubuntu-latest
    
    steps:
    - name: Check password
      run: |
        if [ -z "${{ inputs.bypassCode }}"]; then
          echo "Password not provided"
        elif [ "${{ inputs.bypassCode }}" == "${{ secrets.bypassCode }}"]
          echo "Password matches."
        else
          echo "Password does not match."
        fi


      